.m-index01 {
	background: #f5f5f5;
	border-bottom: 1px solid #e7e7e7;
	font-size: .8rem
}

.m-index01 .m-col-xs-6 {
	position: relative;
	padding: 10px 5px 5px 5px;
}

.m-index01 .m-col-xs-6 h5 {
	line-height: 0.7rem;
}

.m-index01 .m-ico-01,
.m-index01 .m-ico-02 {
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	right: 0.3rem;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	font-size: 1rem!important;
	background: #fd6c4d;
}

.m-index01 .m-ico-02 {
	background: #dc9955;
	font-size: 1.2rem!important;
}

.m-index02 {
	padding: .5rem 1rem 0 1rem;
	text-align: center;
	position: relative;
	background: #fff;
}

.m-index02>.iconfont:first-child {
	position: absolute;
	right: 1rem;
	top: -0.02rem;
	color: #23bcc1;
	font-size: 2rem;
	display: block;
	line-height: 2rem;
}

.m-index02 .m-h6,
.m-index02 .m-h6 .iconfont {
	color: #23bcc1 !important;
}

.m-index02 .m-h6 .iconfont {
	font-size: 0.9rem
}

.m-circle {
	width: 70%;
	margin: 6px auto auto;
	display: inline-block;
	position: relative;
	text-align: center;
	line-height: 1.2rem;
}

.m-index02 canvas {
	vertical-align: top;
	position: relative;
	z-index: 2;
}

.m-index02 .m-img {
	position: absolute;
	padding: 0.7rem;
	width: 100%;
	box-sizing: border-box;
	left: 0;
	top: 0;
	z-index: 0;
}

.m-index02 .m-rate {
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -1.8rem;
	font-size: 2rem;
	left: 0;
	display: block;
	width: 100%;
	color: #666666;
}

.m-index02 .m-rate sup {
	color: #fc6721;
	top: -1rem;
	position: relative;
}

.m-index02 .m-rate sup .iconfont {
	font-size: 0.6rem
}

.m-index02 .s1 {
	border-radius: 0.25rem;
	border: 1px solid #ececec;
	background: #f5f5f5;
	width: 5rem;
	text-align: center;
	line-height: 1.2rem;
	color: #666666;
	font-size: 0.8rem;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -2.5rem;
	top: 50%;
	margin-top: 0.2rem;
}

.m-index02 p {
	position: absolute;
	width: 100%;
	bottom: 0.5rem;
	font-size: 0.7rem
}

.m-index02 .m-btn-yellow {
	margin-top: -0.5rem;
}

.m-invest-list {
	position: relative;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	/*	box-shadow: 0 .5px 0 #e7e7e7;
	-webkit-box-shadow: 0 .5px 0 #e7e7e7;*/
	background: #fff;
	overflow: hidden;
	margin-top: 0.5rem;
	outline: none;
}


/*.m-invest-list:before{
	content: '';
	width:200%;
	height:1px;
	background: #000;

	-webkit-transform:scale(0.5);
	transform:scale(0.5);
	position: absolute;
	left: 0;
	top: 0;
}*/


/*.m-invest-list:after{
	content: '';
	width:100%;
	height:1px;
	background: #e7e7e7;
	transform:scaleY(0.5);
	-webkit-transform:scaleY(0.5);
	position: absolute;
	left: 0;
	bottom: 0;
}*/

.m-invest-list .m-rate-act ins {
	text-decoration: none;
	font-size: 0.5rem;
	position: absolute;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background: #23bcc1;
	color: #fff;
	width: 6rem;
	text-align: center;
	right: -2.2rem;
	line-height: 0.75rem;
	top: 0.5rem;
}

.m-invest-list .m-rate-text {
	width: 4.25rem;
	text-align: center;
	 background: #23bcc1;
	color: #fff;
	vertical-align: middle;
	font-size: 1.5rem;
	z-index: 1;
}

.m-invest-list .m-rate-text sup {
	display: inline-block;
	position: relative;
	top: 0!important;
	/*left: -0.5rem;*/
}

.m-invest-list .m-rate-text .iconfont {
	top: -0.5rem;
	left: -0.1rem;
	font-size: 0.7rem;
}
/* .m-invest-list .m-bg-orange{
	background: #fd6c4d!important;
}

.m-invest-list .m-bg-blue{
	background: #23bcc1!important;
}
.m-invest-list .m-bg-gray{
	background: #7c7f84!important;
} */



.m-invest-list.m-invst-tjbd .m-rate-text,
.m-invest-list.m-invst-tjbd .m-rate-act ins {
	background: #fd6c4d;
}

.m-invest-list.m-invst-csbd .m-rate-text,
.m-invest-list.m-invst-csbd .m-rate-act ins {
	background: #7c7f84;
}


.m-invest-list .m-bg-blue{
	background: #23bcc1!important;
}


.m-invest-list .m-rate-text h6 {
	color: #fff;
	font-size: 0.6rem;
	margin: 0;
	padding-top: 0.2rem;
}

.m-invest-list .m-rate-text small {
	font-size: 50%
}

.m-invest-list .m-invest-title {
	padding: 0.5rem 0 0.5rem 0.5rem;
}

.m-invest-list .m-invest-title .m-ellipsis {
	padding-bottom: 0.2rem;
	position: relative;
}

.m-invest-list .m-invest-title div.fl.m-col-xs-4,
.m-invest-list .m-invest-title div.fl.m-col-xs-8 {
	width: 50%!important;
}

.m-invest-list .m-invest-title .m-h6 {
	color: #c6c6ca;
}

.m-invest-list .m-rate-act {
	width: 3rem;
	vertical-align: middle;
	color: #27a0ff;
	font-size: 0.85rem;
	padding-top: 1rem;
	padding-right: 0.5rem;
}

.m-invest-list .m-rate-act span.s1 {
	position: absolute;
	text-align: center;
	top: 50%;
	font-size: 0.7rem;
	left: 0;
	width: 100%;
	display: block;
	padding-right: 0.5rem;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	padding-top: 0.75rem;
}

.m-invest-hkz {
	width: 2.5rem;
	border-radius: 100%;
	background: #f2f2f2;
	height: 2.5rem;
	padding: 0.2rem;
	position: relative;
	top: -0.2rem;
}

.m-invest-hkz h6 {
	color: #31c0c4;
	margin: 0;
	padding-top: 0.2rem;
}

.m-invest-hkz .iconfont {
	font-size: 0.9rem
}

.m-faxian-nav {
	background: #fff;
	border-bottom: 1px solid #d9d9d9;
	padding: 0.75rem 0.25rem;
}

.m-faxian-nav a {
	width: 25%;
	text-align: center;
	color: #666;
	border-right: 1px solid #d9d9d9;
}

.m-faxian-nav a:last-child {
	border: none;
}

.m-faxian-nav a sup {
	background: #f00;
	border-radius: 100%;
	color: #fff;
	padding:2px 5px 3px 5px;
	border-radius: 0.5rem;
	font-size: 0.5rem;
	line-height: 10px;
	margin-left: -0.25rem;
	position: absolute;
}
.m-faxian-nav a sup.iconfont {
	background:none;
	padding: 0;
	font-size: 1rem;
top:0px;

}
.m-faxian-nav a sup.red {
	color:#f00
}



.m-faxian-title {
	margin-top: 0.75rem;
	color: #23bcc1;
	padding: 0.5rem 1rem;
	background: #fff;
	border-top: 1px solid #e7e7e7;
}

.m-faxian-title span {
	margin: -0.2rem 0.2rem -0.2rem 0;
}

.m-faxian-list a {
	padding: 0.5rem 1rem;
	background: #fff;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	display: block;
	margin-bottom: 0.5rem;
}

.m-faxian-list h6 {
	color: #c6c6ca;
}

.m-wodezican-zong {
	background: #8a5731;
	background: -moz-linear-gradient(top, #d0bca0 0%, #8a5731 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #8a5731));
	background: -webkit-linear-gradient(top, #d0bca0 0%, #8a5731 100%);
	background: -o-linear-gradient(top, #d0bca0 0%, #8a5731 100%);
	background: -ms-linear-gradient(top, #d0bca0 0%, #8a5731 100%);
	background: linear-gradient(to bottom, #d0bca0 0%, #8a5731 100%);
	color: #fff;
	margin: 0;
	font-size: 0.7rem;
}

.m-wodezican-zong p {
	color: #fff;
	font-size: 0.6rem;
	margin: 0;
}

.m-wodezican-zong .m-table-cell {
	padding: 0.3rem 0;
	border-right: 1px solid #ac886a;
}

.m-wodezican-zong .m-table-cell:last-child {
	border-right: none;
}

.m-wodezican-shouyi p {
	padding-top: 0.5rem;
}

.m-wodezican-shouyi {
	font-size: 2rem;
	padding: 1.5rem 0 1rem 0;
	border-bottom: 1px solid #ac886a;
	position: relative;
}

.m-wodezican-shouyi span[data-money] {}

.m-wodezican-shouyi .m-ico-easy {
	position: absolute;
	margin-top: -0.3rem!important;
	right: 1rem;
}

.m-wodezican-cztx .m-btn-yellow {
	background: #fff;
	color: #fd6c4d;
	width: 47%;
}

.m-btn-yellow2 {
	background: #fff;
	color: #fd6c4d;
}

.m-my-nav {
	border-top: 1px solid #e7e7e7;
}

.m-my-nav .m-table-cell {
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	text-align: center;
	background: #ffffff;
	color: #666;
	padding: 0.7rem 0;
	line-height: 1.2;
}


.m-my-nav2 .m-table-cell {
	padding-bottom:1.1rem
}


.m-my-nav .m-table-cell p{
	font-size: 11px;
	color: #999;
	margin: 0;
	position: relative;
	margin-bottom: -14px;
}


.m-my-nav .m-table-cell .iconfont {
	margin-top: -2px;
	display: inline-block;
	border-radius: 100%;
	text-align: center;
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 0.9rem!important;
	margin-bottom: 0.3rem;
	font-size: 1.2rem!important
}


.m-my-nav .m-table-cell:nth-child(4n) {
	border-right: none;
}

.m-p2p-tips {
	padding-top: 3rem;
}

.m-p2p-tips h4 {
	padding: 0.5rem 0 0 0;
	color: #23bcc1;
	line-height: 1rem;
}

.m-p2p-tips .iconfont {
	font-size: 3.5rem;
}

.m-p2p-tips h5 {
	color: #7c7f84;
	line-height: 1rem;
}

.m-p2p-account {
	background: #fff;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	margin-top: 0.75rem;
	padding: 15px 20px;
}

.m-p2p-account div.m-clearfix {}

.m-p2p-account div.m-clearfix h5 {
	line-height: 1.3rem;
}

.m-p2p-account input[type=text] {
	border: none;
	border-bottom: 1px solid #e7e7e7;
	padding: 0;
	color: #666;
	border-radius: 0;
	margin: 0;
}

.m-p2p-account .m-clearfix:last-child {
	margin-top: 0.5rem;
}

.m-p2p-account button {
	margin-left: 0.3rem;
	border: 1px solid #dadada;
}


.m-p2p-account button.m-btn-warning,
.m-p2p-account button.m-btn-yellow {
	border: 1px solid #fd6c4d;
}

.m-p2p-account button.m-col-xs-3.m-btn-yellow {
	width: 25%;
}

div.m-p2p-account2 {
	padding: 0;
	padding-left: 0.5rem;
}

div.m-p2p-account2 .m-clearfix {
	border-bottom: 1px solid #E7E7E7;
	padding: 0.55rem 0.5rem 0.5rem 0.5rem;
	padding-left: 0;
	line-height: 2rem;
}

div.m-p2p-account2 .m-clearfix .m-h6 {
	font-size: 0.7rem
}

.m-p2p-account2 input.i1 {
	border: none;
	float: left;
	width: 8rem;
}

.m-p2p-account2 input.i2 {
	border: 1px solid #E7E7E7;
	border-radius: 0.3rem;
	float: left;
	width: 3rem;
	text-align: center;
	margin-right: 0.5rem;
	font-size: 0.7rem
}

.m-p2p-account2 div.m-clearfix h5.m-pull-left {
	margin: 0;
	line-height: 2rem;
	width: 4rem;
}

.m-p2p-account2 div.m-clearfix h5.m-col-xs-6 {
	width: 49%;
}

.m-p2p-account2 div.m-clearfix button {
	margin-right: 0.3rem;
	margin-left: 0;
}

.m-p2p-account2 div.m-clearfix button.disabled {
	opacity: 0.5
}

.m-p2p-account2 button.m-col-xs-3.m-btn-yellow {
	width: 20%;
}

.m-p2p-account2 .m-clearfix:last-child {
	margin: 0;
	border-bottom: none;
}

.m-p2p-investment {
	background: #fff;
	border-top: 1px solid #e7e7e7;
	margin-top: 0.75rem;
	padding: 0.5rem;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.m-p2p-investment h6 {}

.m-p2p-investment h5 {
	padding-bottom: 0.5rem;
}

.m-p2p-investment~.m-content {
	padding-bottom: 7.25rem;
}

.m-p2p-selectJxk {
	position: fixed;
	z-index: 3212321;
	width: 100%;
	left: 0;
	bottom: 0;
	background: #fff;
}

.m-p2p-selectJxk .m-t {
	background: #f5f5f5;
	border-bottom: 1px solid #D9D9D9;
	padding: 10px 20px;
}

.m-p2p-selectJxk .m-t h6 {
	font-size: 0.8rem
}

.m-p2p-selectJxk .m-info {
	height: 7.5rem;
	overflow-y: scroll;
}

.m-p2p-selectJxk .m-info a {
	display: block;
	padding: 15px 20px;
	font-size: 0.7rem;
	border-bottom: 1px solid #E7E7E7;
	color: #666;
}

.m-p2p-detail2 {
	background: #fff;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 15px 20px;
}

.m-p2p-detail3 {
	background: #fff;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 0.5rem;
	margin-top: 0.75rem;
}

.m-p2p-detail3 + .input-list {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}

.m-p2p-detail3 + .input-list .item:last-child {
	border: none;
}

.m-p2p-detail3 + .input-list .item {
	position: relative;
}

.m-p2p-detail3 + .input-list .item .m-badge {
	position: relative;
	top: 0;
}

.m-p2p-detail3 p {
	width: 50%;
	float: left;
	margin: 0;
	padding: 0.2rem 0;
	font-size: 0.6rem
}

.m-p2p-detail3 p span {
	font-size: 0.6rem
}

.m-p2p-detail2 p {
	margin: 0;
	line-height: 1.2rem;
}

.m-p2p-detail-info {
	background: #fff;
	border-top: 1px solid #e7e7e7;
}

.m-p2p-detail-info>dt {
	padding: 10px 20px;
	color: #23bcc1;
	border-bottom: 1px solid #e7e7e7;
	font-size: 0.75rem;
}

.m-p2p-detail-info>dt>.iconfont {
	color: #999;
}

.m-p2p-detail-info>dd {
	padding: 10px 20px;
	margin: 0;
	font-size: 0.6rem;
	color: #666;
	line-height: 1.2rem;
	border-bottom: 1px solid #e7e7e7;
}

.m-p2p-detail-fkbz {
	margin-bottom: 0;
}

.m-p2p-detail-fkbz>dt>span {
	display: inline-block;
	padding: 0rem 0.3rem;
	color: #fd6c4d;
	border: 1px solid #fd6c4d;
	border-radius: 5px;
}

.m-p2p-detail-fkbz>dd {
	margin: 0;
	padding: 0.2rem 0;
	border-bottom: 1px solid #e7e7e7;
}

.m-p2p-detail-fkbz>dd:last-child {
	border-bottom: none;
}

.m-p2p-detail-shxm>dd>div {
	padding: 0.3rem 0;
	color: #5e5e5e;
	border-bottom: 1px solid #e7e7e7;
}

.m-p2p-detail-shxm>dd>div:last-child {
	border-bottom: none;
}

.m-p2p-detail-shxm>dd>div>s {
	color: #fd6c4d;
	float: right;
}

.m-tab~.m-p2p-detail2 {
	border-top: none;
}

.m-badge {
	line-height: 1;
	font-size: 0.5rem;
	display: inline-block;
	position: absolute;
	padding: 2px 3px 1px 3px;
	color: #333;
	border-radius: 100px;
	color: #fff;
	background-color: #ff3200;
	margin-left: 2px;
	top: 0.6rem;
	font-family: arial;
	white-space: nowrap;
}

.m-p2p-itemImg {
	padding: 20px 0;
}

.m-p2p-itemImg ul {
	margin: 0;
	padding: 0;
}

.m-p2p-itemImg li {
	float: left;
	padding: 20px;
	padding-top: 0;
	width: 33.3%;
	list-style: none;
	text-align: center;
}

.m-p2p-itemImg li img {
	width: 4.75rem;
	height: 6rem;
}

.m-p2p-detail-recording {
	padding: 0 15px;
	background: #fff;
	position: relative;
	color: #666;
}

.m-p2p-detail-recording .m-cell {
	width: 35%;
	position: relative;
	padding: 0.5rem 0;
	border-bottom: 1px solid #E7E7E7;
	line-height: 1.2;
	font-size: 0.7rem
}

.m-p2p-detail-recording .m-cell s {
	position: absolute;
	left: 0;
	color: #7c7f84;
	top: auto;
	/*line-height:1.6;*/
	/*transform: translateY(-65%);
	-webkit-transform: translateY(-65%);*/
}

.m-p2p-detail-recording .d1 {
	padding-left: 22px;
}

.m-p2p-detail-recording .d2 {
	width: 25%;
}

.m-p2p-detail-recording .d3 {
	width: 35%;
	padding-right: 1.2rem;
	padding-left: 1rem;
}

.m-p2p-detail-recording .d1 div {
	font-size: 0.7rem;
	line-height: 1;
}
.m-p2p-detail-recording .d1 div:before{content: '';}
.m-p2p-detail-recording .d1 div:after {
	font-size: 16px;
	position: absolute;
	/*top: -5rem;*/
}

.m-p2p-detail-recording .d2 s.iconfont {
	color: #ed6c00;
}

.m-p2p-detail-recording .d2 s {
	left: 100%;
	padding-left: 5px;
}

.m-p2p-detail-recording .m-cell .m-badge {
	top: 0.55rem;
	right: -0.2rem;
	margin-right: -0.1rem;
}

.m-p2p-detail-recording .m-cell p {
	margin: 0;
	color: #949494;
	font-size: 0.5rem;
	line-height:0.7rem;
}

.m-p2p-detail-recording .m-cell p.m-time {
	font-size: 0.45rem
}

.m-p2p-detail-recording-t {
	border-bottom: 1px solid #E7E7E7;
	padding: 0.3rem 15px;
}

.m-p2p-detail-recording-t .m-cell {
	border: none;
}

.m-p2p-detail-recording-t .d3 {
	padding-right: 0;
}

.m-p2p-detail-recording-t .d1 {
	padding-left: 0;
}

.m-canvas {
	position: relative;
}

.m-canvas .m-canvas-title {
	position: absolute;
	z-index: 9999;
	width: 190px;
	text-align: center;
	left: 50%;
	margin-left: -95px;
	top: 52%;
	transform: translateY(-30%);
	-webkit-transform: translateY(-30%);
	font-size: 25px;
	color: #666666;
}

.m-canvas .m-canvas-title p {
	color: #23bcc1;
	margin: 0;
}

.m-canvas .m-canvas-title a {
	color: #666;
	font-size: 0.6rem;
	display: block;
	padding-top: 5px;
}

.m-canvas .m-canvas-title a .iconfont {
	font-size: 0.6rem;
	top: 0.05rem;
}

.m-balance-focus {
	position: fixed;
	width: 100%;
	text-align: center;
	bottom: 25px;
	left: 0;
}

.m-balance-focus a {
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 100%;
	background: #d0d0d0;
	margin: 0 5px;
}

.m-balance-focus a.m-active {
	background: #fd6c4f;
}

.m-personal-tab {
	/*border-bottom: 1px solid #d9d9d9;*/
	background: #f5f5f5;
	/*font-size: 0*/
}

.m-personal-tab a {
	display: inline-block;
	/*font-size: 14px;*/
	color: #666666;
	/*padding: 10px 0;*/
	text-align: center;
}

.m-personal-tab a.m-active {
	/*border-bottom: 1px solid #FF6600;*/
}

.m-personal-tab a:last-child {
	border-right: none;
}

.m-table-middle .m-table-cell {
	vertical-align: middle;
}

.m-table-middle .m-table-cell p {
	margin: 0;
}

.m-personal-list {
	background: #fff;
	border-bottom: 1px solid #e5e5e6;
	padding: 0 0 0 15px;
	width: 100%;
}

.m-personal-list h5 {
	color: #ff6b4f;
	font-size: 20px
}

.m-personal-list h6 {
	color: #666666;
	padding: 2px 0;
}

.m-personal-list h6 s {
	font-size: 0.6rem;
	top: .05em;
}

.m-personal-list p {
	color: #23bcc1;
	text-align: center;
}

.m-personal-list .m-table-cell {
	position: relative;
	overflow: hidden;
	padding: 10px 0 7px 0;
}

.m-personal-list ins {
	text-decoration: none;
	font-size: 0.5rem;
	position: absolute;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background: #23bcc1;
	color: #fff;
	width: 6rem;
	text-align: center;
	right: -2.2rem;
	line-height: 0.75rem;
	top: 0.5rem;
}


/*.m-personal-list p:after{
	content: "\e61a";
	font-family:"iconfont" !important;
  font-size:14px;
  color: #7c7f84;

}*/

.m-personal-list .m-table-cell:first-child {
	width: 60%;
}

.m-myInvest {
	background: #fff;
	position: relative;
	overflow: hidden;
}

.m-myInvest .m-content-padded {
	margin-bottom: 0;
	padding-top: 10px;
}

.m-myInvest .m-table {
	padding: 10px;
	border-bottom: 1px solid #e8e8e8;
}

.m-myInvest .m-table>.m-row .m-cell {
	padding-top: 3px;
}

.m-myInvest .m-info {
	text-align: center;
}

.m-myInvest .m-info h4 {
	color: #ff6b4f;
}

.m-myInvest .m-info .m-table-cell {
	border-left: 1px solid #e5e5e6;
}

.m-myInvest .m-info2 {
	background: #ebeced;
	border-bottom: 1px solid #d5d6d8;
}

.m-myInvest .m-info2 .m-table-cell {
	border-left: 1px solid #d5d6d8;
}

.m-myInvest .m-info .m-table-cell:first-child {
	border-left: none;
}

.m-myInvest ins {
	text-decoration: none;
	font-size: 0.5rem;
	position: absolute;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background: #23bcc1;
	color: #fff;
	width: 6rem;
	text-align: center;
	right: -2.2rem;
	line-height: 0.75rem;
	top: 0.5rem;
}

.m-myInvest ins {
	text-decoration: none;
	font-size: 0.5rem;
	position: absolute;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background: #23bcc1;
	color: #fff;
	width: 6rem;
	text-align: center;
	right: -2.2rem;
	line-height: 0.75rem;
	top: 0.5rem;
}

.m-invest-recording {
	background: #fff;
	margin-top: 10px;
}

.m-invest-recording .m-table-cell {
	color: #555353;
	padding: 12px 0;
	border-bottom: 1px solid #e5e5e6;
}

.m-invest-recording .m-t .m-table-cell {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}

.m-invest-recording .m-t .m-table-cell:first-child,
.m-invest-recording .m-table-cell:first-child {
	text-align: left;
	padding-left: 10px;
}

.m-myInvest-list {
	background: #fff;
	margin-top: 15px;
	border-bottom: 1px solid #E7E7E7;
	border-top: 1px solid #E7E7E7;
}

.m-myInvest-list .m-item {
	border-bottom: 1px solid #e5e5e6;
	padding: 12px 15px;
	color: #666;
	font-size: 0.7rem;
}

.m-myInvest-list .m-item:last-child {
	border-bottom: none;
}

.m-content-padded>.m-btn-block {
	margin: 20px auto;
	/*width: 90%;*/
}

.m-content-padded2 {
	margin: 15px
}

.m-personal-tab2 {
	border: 1px solid #d9d9d9;
	font-size: 0;
	line-height: 0;
}

.m-personal-tab2 a {
	display: inline-block;
	position: relative;
	padding: 5px 0;
	border-right: 1px solid #d9d9d9;
	font-size: 0.65rem;
	padding-left: 1.2rem;
	color: #666;
	line-height: 1;
}

.m-personal-tab2 a:last-child {
	border-right: none;
}

.m-personal-tab2 a h5:after {
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	content: '';
	display: block;
	left: 0.6rem;
	top: 0.6rem;
}

.m-personal-tab2 a.a1 h5 {
	color: #dc9955;
}

.m-personal-tab2 a.a2 h5 {
	color: #23bcc1;
}

.m-personal-tab2 a.a3 h5 {
	color: #fd6c4d;
}

.m-personal-tab2 a.a1 h5:after {
	background: #dc9955;
}

.m-personal-tab2 a.a2 h5:after {
	background: #23bcc1;
}

.m-personal-tab2 a.a3 h5:after {
	background: #fd6c4d;
}

.m-personal-tab2 a.m-active:after {
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	background: #fff;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	content: '';
	left: 50%;
	margin-left: -5px;
	bottom: -6px
}

.m-personal-list2 {
	margin-top: 15px;
}

.m-personal-list2 .m-item {
	border-bottom: 1px solid #e5e5e6;
	padding: 12px 0;
	color: #666;
	font-size: 0.7rem;
}

.m-personal-list2 .m-item:last-child {
	border-bottom: none;
}

.m-personal-list3 {
	margin-top: 15px;
	border-top: 1px solid #E7E7E7;
}

.m-personal-list3 .m-item {
	border-bottom: 1px solid #ddd;
	padding: 12px 0;
	color: #666;
	font-size: 0.7rem;
}

.m-personal-list3 .m-item2 {
	padding: .6rem .7rem;
	background: #fff;
	text-align: left;
}
.m-personal-list3 .m-item2 img{
	width: 1rem;
	vertical-align: middle;
}
.m-personal-list3 .m-item2 span{
	vertical-align: middle;
	font-size: .75rem;
	color: #333
}
.m-personal-list3 .m-item2 .m-pull-right img{
	width: .4rem
}
.m-personal-list3 .m-item span.s1,
.m-personal-list3 .m-item span.s2,
.m-personal-list3 .m-item span.s3,
.m-personal-list3 .m-item span.s4 {
	padding-left: 20px;
	position: relative;
}

.m-personal-list3 .m-item span.s1:after,
.m-personal-list3 .m-item span.s2:after,
.m-personal-list3 .m-item span.s3:after,
.m-personal-list3 .m-item span.s4:after {
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	content: '';
	display: block;
	left: 2px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.m-personal-list3 .m-item span.s1:after {
	background: #fd6c4d;
}

.m-personal-list3 .m-item span.s2:after {
	background: #23bcc1;
}

.m-personal-list3 .m-item span.s3:after {
	background: #dc9955;
}

.m-personal-list3 .m-item span.s4:after {
	background: #96999d;
}

.m-hxBank {
	padding: 0.5rem;
	border-radius: 7px;
	background: #f4a54c;
	position: relative;
	color: #fff;
	padding-left: 4rem;
}

.m-hxBank .m-l {
	position: absolute;
	width: 2.25rem;
	text-align: center;
	left: 1rem;
	top: 0.5rem;
}

.m-hxBank .m-l span {
	display: block;
	border-radius: 100%;
	width: 2.25rem;
	height: 2.25rem;
	line-height: 2.25rem;
	;
	background: #ffffff;
	color: #eb891a;
	font-size: 2rem;
	margin-bottom: 0.2rem;
}

.m-hxBank .m-xm {
	color: #fff;
	font-size: 0.7rem;
}

.m-hxBank p {
	color: #fff;
	margin: 0;
	position: relative;
	z-index: 2;
}

.m-hxBank .bg {
	position: absolute;
	right: 0;
	color: #fff;
	opacity: 0.1;
	z-index: 0;
	font-size: 5rem;
	top: 0;
	line-height: 5rem;
}

.m-hxBank h5 {
	color: #fff;
	font-size: 1rem;
	z-index: 1;
	position: relative;
}

.m-hxBank a.m-cx {
	color: #666;
	position: absolute;
	right: 0.5rem;
	top: 0.2rem;
}

.m-personal-list3 .m-badge {
	position: relative;
	top: -0.1rem;
	font-size: 0.6rem;
	padding: 2px 5px;
}

.m-personal-list3 .m-pull-right .iconfont {
	top: 0;
	color: #ddd;
}

.m-personal-list3 .m1 {
	background: #23bcc1;
}

.m-personal-list3 .m2 {
	background: #dc9955;
}

.m-personal-list3 .m3 {
	background: #fd6c4d;
}
.m-logo{
	width: 100%;
	margin: 2.5rem 0;
	text-align: center;
}
.m-logo img{
	width:60%;
	display: inline-block;
}
.m-login .m-item {
	border: 1px solid #e7e7e7;
	margin-bottom: 0.75rem;
	border-radius: 5px;
	position: relative;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	background: #fff;
}
.m-item.no-left-icon{
	padding-left: 0
}
.m-login .m-item.border-bottom:after{
	content: '';
	position: absolute;
	left: 0;bottom: 0;right: auto;top: auto;
	height: 1px;
	width: 100%;
	background-color: #f0f0f0;
	display: block;
	-webkit-transform-origin: 50% 100%;
	 transform-origin: 50% 100%;
}
.m-login .m-item.no-border{
	border: none;
	margin-bottom: 0;
}
.m-login .m-item input {
	border: none;
	margin: 0;
	padding-left: 0;
}

.m-login .m-item .iconfont.m-pull-left,
.m-login .m-item .iconfont.m-pull-right {
	width: 1.5rem;
	text-align: center;
	color: #999;
	float: none;
	position: absolute;
	left: 0;
	top: 50%;
	overflow: hidden;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.m-login .m-item .iconfont.m-pull-left img,
.m-login .m-item .iconfont.m-pull-right img{
	width: 1rem;
	display: inline-block;
	margin-top: .2rem
}
.m-login .m-item .iconfont.m-pull-right {
	left: auto;
	right: 0;
	width: auto;
	min-width: 1.5rem;
  font-size: 0.8rem;
}

.m-login .m-djs {
	margin-top: 10px;
	margin-bottom: 0.75rem;
}
.m-login .m-djs2{
	padding-right:0
}

.m-login .m-djs input {
	width: 50%;
	float: left;
}
.m-login .m-djs2 input{
	border:none
}
.m-login .m-djs2 .d1{
	border-radius:0 5px 5px 0
}
.m-login .m-djs div {
	width: 48%;
	float: right;
	background: #b0b2b5;
	color: #7f8389;
	border-radius: 5px;
	padding: 10px 15px;
	text-align: center;
}

.m-login .m-djs div.d1 {
	background: #fff;
	color: #000;
}

.m-biaoman {
	color: #23bcc1;
	font-size: 14rem;
	position: absolute;
	z-index: 100000;
	font-family: iconfont;
	text-align: center;
	top: 7rem;
	left: 50%;
	transform: rotate(-20deg) translateX(-50%);
	-webkit-transform: rotate(-20deg) translateX(-50%);
	/*	animation: 3s infinite biaoman;
	-webkit-animation: 3s  infinite biaoman;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-name:biaoman;
	animation-name:biaoman
	*/
}

@-webkit-keyframes biaoman {
	0% {
		transform: scale(3);
		-webkit-transform: scale(3);
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}

@keyframes biaoman {
	0% {
		transform: scale(3);
		-webkit-transform: scale(3);
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}

.m-p2p-detail-top {
	padding: 0 10px;
	border-bottom: 1px solid #e7e7e7;
	background: #fff;
	padding-bottom: 10px;
	position: relative;
}

.m-p2p-detail-top .m-rate {
	padding-top: 1.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #e7e7e7;
	text-align: center;
	margin-bottom: 1rem;
	position: relative;
	overflow: hidden;
}

.m-p2p-detail-top .m-rate .m-xrzz {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2rem;
	color: #23bcc1;
	display: block;
	line-height: 1.8rem;
}

.m-p2p-detail-top .m-rate p {
	margin-right: -0.7rem;
	color: #23bcc1!important;
}

.m-p2p-detail-top .m-rate p .iconfont {
	font-size: 0.9rem
}

.m-p2p-detail-top .m-rate .m-num {
	font-size: 3.375rem;
	line-height: 3rem;
	color: #666;
	position: relative;
}

.m-p2p-detail-top .m-rate .m-num sup {
	color: #fd6c4d;
	font-size: 60%;
	margin-left: -0.5rem;
	display: inline-block;
	position: relative;
	top: -2.7rem;
}

.m-p2p-detail-top .m-rate .m-num .m-mode {
	position: absolute;
	margin-left: -0.5rem;
	font-size: 0;
	padding-left: 5px;
	line-height: 0;
	top: 2.1rem;
}

.m-p2p-detail-top .m-rate .m-num .m-mode s {
	/* 	margin-right: 0.2rem; */
}

.m-p2p-detail-top .m-info .m-table-cell:after {
	content: '';
	border-right: 1px solid #ccc;
	height: 1.8rem;
	width: 0;
	right: 0;
	position: absolute;
	display: block;
	top: 0;
}

.m-p2p-detail-top .m-info .m-table-cell:last-child:after {
	display: none;
	border: none;
}

.m-p2p-detail-top .m-info {
	margin-bottom: 0.75rem;
}

.m-p2p-detail-top .m-progress {
	border-radius: 0.15rem;
	height: 0.3rem;
	background: #ccc;
	margin-bottom: 0.25rem;
	padding-right: 1rem;
}

.m-p2p-detail-top .m-progress s {
	display: block;
	border-radius: 0.15rem;
	height: 0.3rem;
	background: #fd6c4d;
	width: 0;
	position: relative;
	/*	transition: all 1s;
	-webkit-transition: width 1s;*/
}

.m-p2p-detail-top .m-progress span {
	position: absolute;
	background: #fd6c4d;
	border-radius: 0.5rem;
	font-size: 0.5rem;
	line-height: 0.5rem;
	padding: 0.1rem 0.2rem;
	text-align: center;
	top: -0.2rem;
	right: -1.1rem;
	color: #fff;
}
.m-content-title {
	font-size: 0.6rem;
	line-height: 1;
	padding:0 10px;
	padding-top: 0.5rem;
	color: #666666;

}
.fr {
	float:right;
}

.m-hxBankTit{
	background: #f5f5f5;
	border-bottom: 1px solid #e9e9e9;
	color: #666666;
	font-size: 0.7rem;
	padding: 0.5rem 0;
	padding-left:15px;
}
.m-hxBankTit2{
	background: #ffffdb;
	color: #676566;
	padding-left: 0;
	text-align: center;
}




.m-siteInfo{
	background: #fff;
	border-bottom: 1px solid #e9e9e9;
	padding: 1rem 0 0.5rem 0;
	margin-bottom: 0.5rem;
	text-align: center;
}

.m-siteInfo .img{
	display: block;
	border-radius: 100%;
	position: relative;
	margin: 0 auto;
	width: 4rem;
}
.m-siteInfo .img img{
	border-radius: 100%;
}
.m-siteInfo .img i.iconfont{
	position: absolute;
	font-size: 1rem;
	right: 0;
}

.m-invest-list .m-rate-text p{
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,0.2);
	color: #fff;
	font-size: 10px;
	bottom: 0;
	left: 0;
	margin: 0;
}
.m-invest-list .m-rate-text h6{padding-top: 0!important;}
	.m-loan01 {
			background: #ffffdd;
			border-bottom: 1px solid #d9d9d9;
			padding: 10px 20px;
			line-height: 1;
		}
		.m-loan02 {
			border: 1px solid #fd6c4d;
			background: #fff3f0;
			border-radius: 5px;
			overflow: hidden;
		}
		.m-loan02 h5 {
			padding-left: 10px;
			color: #fff;
			line-height: 30px;
			border-bottom: 1px solid #ff9966;
			background: #fd6c4d;
			margin: 0;
			font-size: 12px
		}
		.m-loan02 .div1 {
			color: #fff;
			text-align: center;
			background: #fd6c4d;
			padding: 20px 0;
			font-size: 30px;
		}
		.m-loan02 .div1 p {
			font-size: 12px;
			padding-top: 5px;
			margin: 0;
			color: #fff;
		}
		.m-loan02 .div2 {
			text-align: center;
			font-size: 0;
			padding: 10px 0 5px 0;
		}
		.m-loan02 .div2 span {
			display: inline-block;
			font-size: 20px
		}
		.m-loan02 .div2 span.s1 {
			color: #666;
			position: relative;
			top: -10px;
			padding: 0 10px;
		}
		.m-loan02 .div2 span em {
			font-style: normal;
			font-size: 12px;
			margin: 0;
			color: #666;
		}
		.m-loan03 {
			border: 1px solid #23bcc1;
			position: relative;
			padding: 10px;
			padding-left: 40px;
			border-radius: 5px;
			margin-top: 0.5rem;
		}
		.m-loan03:before {
			width: 30px;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			content: '';
			display: block;
			background: #23bcc1;
		}
		.m-loan03 .s1 {
			position: absolute;
			left: 8px;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			width: 10px;
			text-align: center;
			color: #fff;
		}
		.m-loan04 {
			border-top: 1px solid #e7e7e7;
			border-bottom: 1px solid #e7e7e7;
			background: #fff;
			padding: 5px 0;
			padding-bottom: 7px;
			position: relative;
			overflow: hidden;
		}
		.m-loan04 .m-h5 {
			padding-left: 10px;
			border-bottom: 1px solid #ededed;
			line-height: 32px;
			margin-bottom: 5px;
			color: #777;
		}
		.m-loan04 .m-cell {
			font-size: 0.7rem
		}
		.m-loan04 .m-cell.graylight {
			font-size: 0.6rem;
			color: #999;
		}
		.m-loan04   ins {
			text-decoration: none;
			font-size: 0.5rem;
			position: absolute;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			color: #fff;
			width: 6rem;
			text-align: center;
			right: -2.2rem;
			line-height: 0.75rem;
			top: 0.5rem;
		}
		.m-loan04   ins.ins1 {
			background: #23bcc1;
		}
		.m-loan04   ins.ins2 {
			background: #999;
		}
		.m-loan04   ins.ins3 {
			background: #fd6c4d;
		}
		.m-content-title2 {
			font-size: 0.7rem
		}
		.tl {
			text-align: left;
		}
		.tr {
			text-align: right;
		}
		.m-loan05 {
			border-top: 1px solid #e7e7e7;
			background: #ffffff;
			border-bottom: 1px solid #e7e7e7;
		}
		.m-loan05 .m-table {
			table-layout: auto;
			overflow: hidden;
		}
		.m-loan05 .tit .m-cell {
			border-bottom: 1px solid #e7e7e7;
		}
		.m-loan05 .m-cell {
			padding: 10px 0;
			line-height: 1;
			position: relative;
		}
		.m-loan05 .m-cell.tl {
			padding-left: 10px;
			padding-right: 10px;
			text-align: left;
		}
		.m-loan05 .m-cell p {
			font-size: 12px;
			margin: 0;
			padding-top: 5px;
		}
		.m-loan05 .m-row .m-cell:first-child:before {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			top: 12px;
			height: 100%;
			border-left: 1px solid #e7e7e7;
			right: 26px;
		}
		.m-loan05 .m-row .m-cell:first-child:after {
			content: '';
			display: block;
			position: absolute;
			width: 8px;
			top: 12px;
			height: 8px;
			right:23px;
			background: #bbbbbb;
			border-radius: 100%;
		}
		.m-loan05 .m-row .m-cell.yes:after {
			background: #23bcc1;
		}
		.m-loan05 .m-row .m-cell.yes:before {
			border-left: 1px solid #23bcc1
		}
		.m-loan05 .m-row .m-cell.no:after {
			background: #fd6c4d;
		}
		.m-loan05 .m-row .m-cell.yu:after {
			background: #f00;
		}
		.m-loan05 .m-row .m-cell.yu:before {
			border-left: 1px solid #f00
		}
		.m-loan05 .tit .m-cell:first-child:before, .m-loan05 .tit .m-cell:first-child:after {
			display: none;
		}
		.red {
			color: #f00;
		}

	.m-loan01 {
			background: #ffffdd;
			border-bottom: 1px solid #d9d9d9;
			padding: 10px 20px;
			line-height: 1;
		}
		.m-loan02 {
			border: 1px solid #fd6c4d;
			background: #fff3f0;
			border-radius: 5px;
			overflow: hidden;
		}
		.m-loan02 h5 {
			padding-left: 10px;
			color: #fff;
			line-height: 30px;
			border-bottom: 1px solid #ff9966;
			background: #fd6c4d;
			margin: 0;
			font-size: 12px
		}
		.m-loan02 .div1 {
			color: #fff;
			text-align: center;
			background: #fd6c4d;
			padding: 20px 0;
			font-size: 30px;
		}
		.m-loan02 .div1 p {
			font-size: 12px;
			padding-top: 5px;
			margin: 0;
			color: #fff;
		}
		.m-loan02 .div2 {
			text-align: center;
			font-size: 0;
			padding: 10px 0 5px 0;
		}
		.m-loan02 .div2 span {
			display: inline-block;
			font-size: 20px
		}
		.m-loan02 .div2 span.s1 {
			color: #666;
			position: relative;
			top: -10px;
			padding: 0 10px;
		}
		.m-loan02 .div2 span em {
			font-style: normal;
			font-size: 12px;
			margin: 0;
			color: #666;
		}
		.m-loan02 .div3 .m-btn-block {
			width: 200px;
			margin: 0 auto;
			margin-bottom: 15px;
			border-radius: 32px;
			height: 32px;
			line-height: 32px;
			padding: 0;
			font-size: 14px
		}
		.m-loan02.m-loan02_1 {
			border: 1px solid #d9d9d9;
			background: #fff;
		}
		.m-loan02.m-loan02_1 h5 {
			background: #fff;
			color: #666;
			font-size: 14px;
			border-bottom: 1px solid #d9d9d9;
			line-height: 50px;
		}
		.m-loan02.m-loan02_1 h5 button {
			width: 75px;
			height: 26px;
			padding: 0;
			text-align: center;
			line-height: 26px;
			border-radius: 26px;
			margin: 12px 10px 0 0
		}
		.m-loan03 {
			border: 1px solid #23bcc1;
			position: relative;
			padding: 10px;
			padding-left: 40px;
			border-radius: 5px;
			margin-top: 0.5rem;
		}
		.m-loan03:before {
			width: 30px;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			content: '';
			display: block;
			background: #23bcc1;
		}
		.m-loan03 .s1 {
			position: absolute;
			left: 8px;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			width: 10px;
			text-align: center;
			color: #fff;
		}
		.m-loan04 {
			border-top: 1px solid #e7e7e7;
			border-bottom: 1px solid #e7e7e7;
			background: #fff;
			padding: 5px 0;
			padding-bottom: 7px;
			position: relative;
			overflow: hidden;
		}
		.m-loan04 .m-h5 {
			padding-left: 10px;
			border-bottom: 1px solid #ededed;
			line-height: 32px;
			margin-bottom: 5px;
			color: #777;
		}
		.m-loan04 .m-cell {
			font-size: 0.7rem
		}
		.m-loan04 .m-cell.graylight {
			font-size: 0.6rem;
			color: #999;
		}
		.m-loan04 ins {
			text-decoration: none;
			font-size: 0.5rem;
			position: absolute;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			color: #fff;
			width: 6rem;
			text-align: center;
			right: -2.2rem;
			line-height: 0.75rem;
			top: 0.5rem;
		}
		.m-loan04 ins.ins1 {
			background: #23bcc1;
		}
		.m-loan04 ins.ins2 {
			background: #999;
		}
		.m-loan04 ins.ins3 {
			background: #fd6c4d;
		}
		.m-content-title2 {
			font-size: 0.7rem
		}
		.red {
			color: #f00;
		}

.m-loan01 {
			background: #ffffdd;
			border-bottom: 1px solid #d9d9d9;
			padding: 10px 20px;
			line-height: 1;
		}

		.m-loan02 {
			border: 1px solid #fd6c4d;
			background: #fff;
			border-radius: 5px;
			overflow: hidden;
		}

		.m-loan02 h5 {
			padding-left: 10px;
			color: #fff;
			line-height: 30px;
			border-bottom: 1px solid #ff9966;
			background: #fd6c4d;
			margin: 0;
			font-size: 12px
		}

		.m-loan02 .div1 {
			color: #fff;
			text-align: center;
			background: #fd6c4d;
			padding: 20px 0;
			font-size: 30px;
		}

		.m-loan02 .div1 p {
			font-size: 12px;
			padding-top: 5px;
			margin: 0;
			color: #fff;
		}

		.m-loan02 .div2 {
			text-align: center;
			font-size: 0;
			padding: 10px 0 5px 0;
		}

		.m-loan02 .div2 span {
			display: inline-block;
			font-size: 20px
		}

		.m-loan02 .div2 span.s1 {
			color: #666;
			position: relative;
			top: -10px;
			padding: 0 10px;
		}

		.m-loan02 .div2 span em {
			font-style: normal;
			font-size: 12px;
			margin: 0;
			color: #666;
		}

		.m-loan02 .div3 .m-btn-block {
			width: 200px;
			margin: 0 auto;
			margin-bottom: 15px;
			border-radius: 32px;
			height: 32px;
			line-height: 32px;
			padding: 0;
			font-size: 14px
		}

		.m-loan02.m-loan02_1 {
			border: 1px solid #d9d9d9;
			background: #fff;
		}

		.m-loan02.m-loan02_1 h5 {
			background: #fff0f0;
			color: #666;
			font-size: 0.7rem;
			border-bottom: 1px solid #d9d9d9;
			line-height: 50px;
		}
		.m-loan02.m-loan02_1  button,.m-loan02 h6 button{
			width: 75px;
			height: 26px;
			padding: 0;
			text-align: center;
			line-height:23px;
			border-radius: 26px;
			margin:12px 10px 0  0
		}
		.m-loan03 {
			border: 1px solid #23bcc1;
			position: relative;
			padding: 10px;
			padding-left: 40px;
			border-radius: 5px;
			margin-top: 0.5rem;
		}

		.m-loan03:before {
			width: 30px;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			content: '';
			display: block;
			background: #23bcc1;
		}

		.m-loan03 .s1 {
			position: absolute;
			left: 8px;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			width: 10px;
			text-align: center;
			color: #fff;
		}

		.m-loan04 {
			border-top: 1px solid #e7e7e7;
			border-bottom: 1px solid #e7e7e7;
			background: #fff;
			padding: 5px 0;
			padding-bottom: 7px;
			position: relative;
			overflow: hidden;
		}

		.m-loan04 .m-h5 {
			padding-left: 10px;
			border-bottom: 1px solid #ededed;
			line-height: 32px;
			margin-bottom: 5px;
			color: #777;
		}

		.m-loan04 .m-cell {
			font-size: 0.7rem
		}

		.m-loan04 .m-cell.graylight {
			font-size: 0.6rem;
			color: #999;
		}

		.m-loan04 ins {
			text-decoration: none;
			font-size: 0.5rem;
			position: absolute;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			color: #fff;
			width: 6rem;
			text-align: center;
			right: -2.2rem;
			line-height: 0.75rem;
			top: 0.5rem;
		}

		.m-loan04 ins.ins1 {
			background: #23bcc1;
		}

		.m-loan04 ins.ins2 {
			background: #999;
		}

		.m-loan04 ins.ins3 {
			background: #fd6c4d;
		}

		.m-content-title2 {
			font-size: 0.7rem
		}

		.red {
			color: #f00;
		}


		.m-loan02 h6{
			margin:0 10px;
			border-bottom: 1px solid #e7e7e7;
			line-height: 50px;
			font-size: 0.7rem;
			color: #666;
		}
		s.m-ico-bq{
			border: 1px solid #ff0000;
			background: #fff7f7;
			color: #f00;
		}

/*20160826*/
		.m-loan04 ins{z-index: 10;}
		.m-loan04 .m-h5 button{
			min-width: 75px;
			height: 26px;
			padding: 0 10px;
			text-align: center;
			line-height:23px;
			border-radius: 26px;
			margin:0 20px 0  0
		}



/**************2018.1.11  圆形进度条*******************/
.progress{
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress:after{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span{
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left{
  left: 0;
}
.progress .progress-bar{
  width: 100%;
  height: 100%;
  background: none;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-bar{
  left:0;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress {
  right: 0;
}
.progress .progress-bar{
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading 1.8s linear forwards;
}
.progress .progress-value{
  width: 85%;
  height: 85%;
  border-radius: 50%;
  border: 2px solid #ebebeb;
  font-size: 32px;
  line-height: 125px;
  text-align: center;
  position: absolute;
  top: 7.5%;
  left: 7.5%;
}
.progress .progress-bar{
  border-color: #049dff;
}
.progress .progress-value{
  color: #049dff;
}
.progress  .progress-bar{
  animation: all  1.5s linear;
	transform: rotate(144deg);
}
